.card {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #eaeaea;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}

.card:hover,
.card:active,
.card:focus {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.button {
    background-color: #059668; /* Green */
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    transition: background-color 0.15s ease,
}

.button:hover,
.button:active,
.button:focus {
    background-color: #065f46;
}