.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5em 13em;
    grid-template-areas: "topbar" "content";

    margin: 0.9em;
    border-radius: 0.9em;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
}

.card .topbar {
    grid-area: topbar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
    padding: 1em;
    background: #E8E8E8;
    border-radius: 10px 10px 0px 0px;
}

.card .topbar .connection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    display: flex;
    align-items: center;
    justify-content: left;
}

.card .topbar .connection .dotonline {
    width: 0.7em;
    height: 0.7em;
    border-radius: 100%;
    margin-right: 0.5em;
    background: #6ACE8C;
}

.card .topbar .connection .dotoffline {
    width: 0.7em;
    height: 0.7em;
    border-radius: 100%;
    background: #F47F66;
}

.card .topbar .connection .status {
    font-size: 0.7em;
    color: #545454;
}

.card .topbar .name {
    font-size: 1.6em;

    margin-top: 0.3em;

    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.card .content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
    padding: 1em;
    border-radius: 0px 0px 10px 10px;
}

.card .content .controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.card .content .controls .release {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.card .content .controls .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
    justify-self: end;
}

.card .content .indicators {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.card:hover,
.card:active,
.card:focus {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.button {
    background-color: #059668; /* Green */
    border: none;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    transition: background-color 0.15s ease,
}

.button:hover,
.button:active,
.button:focus {
    background-color: #065f46;
}